## Observations and Insights

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import sem
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
# Combine the data into a single dataset
merge_df=pd.merge(mouse_metadata,study_results,how="outer")
# Display the data table for preview
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
num_mice=len(merge_df["Mouse ID"].unique())
print(f"{num_mice} mice") #output number of mice

249 mice

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_list=merge_df.loc[(merge_df.duplicated(["Mouse ID","Timepoint"],False)==True)] #finds mice ids with duplicate timepoints
print(dup_list["Mouse ID"].unique()) #outputs the mouse id that has duplicate Timepoints

['g989']

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
merge_df.loc[(merge_df["Mouse ID"]) == "g989"] #outputs all data for the mouse id with duplicate timepoints

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = merge_df.loc[(merge_df["Mouse ID"]) !="g989"]

In [6]:
# Checking the number of mice in the clean DataFrame.
num_mice_clean=len(clean_df["Mouse ID"].unique())
print(f"{num_mice_clean} mice") #output number of mice

248 mice

## Summary Statistics

In [84]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

#groups the data frame by Drug Regimen
drug_gb=clean_df.groupby("Drug Regimen")

#creates a dataframe with drug regimen as index and the first column as mean tumor volume
summ_stat_df=pd.DataFrame(drug_gb.mean()["Tumor Volume (mm3)"])
summ_stat_df=summ_stat_df.rename(columns={"Tumor Volume (mm3)":"Mean Tumor Volume"})#renames first column

#summarizes other columns
summ_stat_df["Mean Tumor Volume"]=round(summ_stat_df["Mean Tumor Volume"])
summ_stat_df["Median Tumor Volume"]=round(drug_gb.median()["Tumor Volume (mm3)"],2) #adds column for median tumor volume
summ_stat_df["Variance Tumor Volume"]=round(drug_gb.var()["Tumor Volume (mm3)"],2) #adds column for tumor volume variance
summ_stat_df["Standard Deviation Tumor Volume"]=round(drug_gb.std()["Tumor Volume (mm3)"],2) #adds column for tumor volume variance
summ_stat_df["SEM Tumor Volume"]=round(drug_gb.sem()["Tumor Volume (mm3)"],2) #adds column for standard error

#outputs data frame
summ_stat_df

,Mean Tumor Volume,Median Tumor Volume,Variance Tumor Volume,Standard Deviation Tumor Volume,SEM Tumor Volume
Drug Regimen,,,,,
Capomulin,41.0,41.56,24.95,4.99,0.33
Ceftamin,53.0,51.78,39.29,6.27,0.47
Infubinol,53.0,51.82,43.13,6.57,0.49
Ketapril,55.0,53.70,68.55,8.28,0.60
Naftisol,54.0,52.51,66.17,8.13,0.60
Placebo,54.0,52.29,61.17,7.82,0.58
Propriva,52.0,50.45,43.85,6.62,0.54
Ramicane,40.0,40.67,23.49,4.85,0.32
Stelasyn,54.0,52.43,59.45,7.71,0.57
Zoniferol,53.0,51.82,48.53,6.97,0.52

# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

d

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen